@import "node_modules/bootstrap/scss/functions";
// Bootstrap theme colors

$theme-colors: (
  "primary": #4fbe49,
  "danger": #be4949,
  "dark": #0e110e
);

$primary: map-get($theme-colors, "primary");
$danger: map-get($theme-colors, "danger");
$dark: map-get($theme-colors, "dark");

@import "node_modules/bootstrap/scss/variables";

$primary-fg: #e4e4e4;

$font-family-base: $font-family-monospace;

$link-hover-decoration: none;

// Bootstrap colors
$navbar-dark-brand-color: $primary;
$navbar-dark-toggler-border-color: $primary;
$navbar-dark-color: #454946;
$body-bg: #242724;
$body-color: $primary-fg;
$link-color: #406445;
$link-color-active: $primary;
$link-hover-color: $body-color;
$input-bg: #454946;
$input-focus-bg: #454946;
$input-focus-color: $primary-fg;
$input-color: $primary-fg;
$input-border-width: 0;

// Own colors
$comment-color: #475046;
$element-color: #1b1b1b;
$tag-background: #2e5237;
$newtag-background: #2e523744;