.element {
  width: 500px;
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 6px;
  transition: box-shadow 0.15s ease-in; }
  .element.tag {
    width: 350px; }
    .element.tag .content {
      font-size: 2.5rem; }
  .element .content {
    padding: 14px;
    line-height: 1.5;
    max-height: 600px;
    overflow: auto; }
  .element .tags {
    padding: 14px;
    display: flex;
    flex-direction: row; }
    .element .tags .tag {
      padding: 10px;
      min-width: 16px;
      margin-right: 8px;
      background: #2e5237;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: box-shadow 0.15s ease-in; }
    .element .tags .tag.new {
      background: #2e523744; }
  .element .toolbar {
    padding: 14px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    display: flex;
    flex-direction: row; }
    .element .toolbar .tool {
      color: #406445;
      margin-right: 12px;
      cursor: pointer; }
    .element .toolbar .tool.danger:hover {
      color: #be4949; }
  .element .comment-bar {
    padding: 0 14px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    display: flex;
    flex-direction: column; }
    .element .comment-bar .comment {
      padding: 4px 0;
      color: #475046; }
  .element .editable-visibility {
    display: none; }
  .element.hover {
    box-shadow: 0 2px 6px 2px rgba(17, 19, 17, 0.7); }
    .element.hover .toolbar {
      opacity: 1; }
    .element.hover .comment-bar {
      opacity: 1; }
