button:focus {
  outline-color: #4fbe49; }

*:-moz-read-write:focus {
  outline-color: #4fbe49; }

*:read-write:focus {
  outline-color: #4fbe49; }

.navbar-toggler-wrapper {
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.15s ease-in; }

.navbar-toggler {
  margin-right: 8px; }

main.container-fluid {
  margin-top: 72px;
  overflow-x: hidden; }

#profile-picture {
  font-size: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #06ac21; }

.sidenav {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 72px;
  width: 192px;
  background: #0e110e;
  transition: width 0.15s ease-in;
  overflow: hidden;
  box-shadow: 0 2px 6px 2px rgba(17, 19, 17, 0.7); }
  .sidenav .nav {
    border-bottom: 1px solid #4fbe49;
    list-style: none;
    width: 192px; }
    .sidenav .nav .nav-item.active {
      font-weight: bold;
      color: #4fbe49; }
    .sidenav .nav .nav-item {
      color: #406445;
      width: 12rem;
      padding: 10px 20px;
      margin: 0;
      cursor: pointer; }
    .sidenav .nav .nav-item:hover {
      color: #e4e4e4; }

main.container-fluid {
  width: calc(100% - 224px);
  margin-left: 224px;
  transition: all 0.15s ease-in; }

.element {
  width: 500px;
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 6px;
  transition: box-shadow 0.15s ease-in; }
  .element.tag {
    width: 350px; }
    .element.tag .content {
      font-size: 2.5rem; }
  .element .content {
    padding: 14px;
    line-height: 1.5;
    max-height: 600px;
    overflow: auto; }
  .element .tags {
    padding: 14px;
    display: flex;
    flex-direction: row; }
    .element .tags .tag {
      padding: 10px;
      min-width: 16px;
      margin-right: 8px;
      background: #2e5237;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: box-shadow 0.15s ease-in; }
    .element .tags .tag.new {
      background: #2e523744; }
  .element .toolbar {
    padding: 14px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    display: flex;
    flex-direction: row; }
    .element .toolbar .tool {
      color: #406445;
      margin-right: 12px;
      cursor: pointer; }
    .element .toolbar .tool.danger:hover {
      color: #be4949; }
  .element .comment-bar {
    padding: 0 14px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    display: flex;
    flex-direction: column; }
    .element .comment-bar .comment {
      padding: 4px 0;
      color: #475046; }
  .element .editable-visibility {
    display: none; }

.element:hover {
  box-shadow: 0 2px 6px 2px rgba(17, 19, 17, 0.7); }

.element:hover .toolbar {
  opacity: 1; }

.element:hover .comment-bar {
  opacity: 1; }

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden; } }

@keyframes blink-animation {
  to {
    visibility: hidden; } }

.blinking {
  -webkit-animation: blink-animation 1.06s steps(2, start) infinite;
          animation: blink-animation 1.06s steps(2, start) infinite; }

@media only screen and (max-width: 768px) {
  .element {
    width: 90%; }
  .sidenav {
    width: 0; }
  .sidenav.show {
    width: 192px; }
  .container-fluid {
    margin-left: 16px;
    width: calc(100% - 16px);
    margin-right: 0; }
  .navbar-toggler-wrapper {
    max-width: 64px;
    width: auto; } }

.dialog-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3; }
  .dialog-wrapper .element {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .dialog-wrapper .element .content:-moz-read-write:focus {
      outline: none; }
    .dialog-wrapper .element .content:read-write:focus {
      outline: none; }
    .dialog-wrapper .element .toolbar {
      opacity: 1; }
    .dialog-wrapper .element .comment-bar {
      opacity: 1; }
    .dialog-wrapper .element .editable-visibility {
      display: block; }
    .dialog-wrapper .element .tag:not(.new):hover {
      background: #be4949;
      box-shadow: 0 2px 6px 2px rgba(17, 19, 17, 0.7);
      cursor: pointer; }
