html {
  height: 100vh; }

body.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%; }

#main-login {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #main-login #brand-line {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    color: #4fbe49;
    margin-bottom: 32px; }
  #main-login .form-control {
    margin-bottom: 8px;
    font-size: 1.25rem; }
  #main-login .btn {
    font-size: 1.25rem;
    width: 100%;
    cursor: pointer; }
