<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SnippR</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body class="error">
  <div class="danger">&gt; HTTP STATUS <%= statusCode %></div>
  <div>&gt; EITHER THE DATABASE IS DOWN OR YOU ARE MESSING WITH THE IDS, SO WHICH ONE WAS IT?</div>
  <div><span class="blinking">&gt;</span> </div>
</body>