<nav class="sidenav">
    <ul class="nav">
        <% if (active === "tags") { %>
            <li class="nav-item"><a href="/tags/add" id="add-snippet-button" role="button">+ Add tag</a></li>
        <% } else {
            let snippetAddUrl = "/snippets/add" + (active !== "snippets" ? `?filter=${active._id}` : "")%>
            <li class="nav-item"><a href="<%= snippetAddUrl %>" id="add-snippet-button" role="button">+ Add snippet</a></li>
        <% } %>
    </ul>
    <ul class="nav">
        <% if (active === "snippets") { %>
            <li class="nav-item active"><a>* All snippets</a></li>
        <% } else { %>
            <li class="nav-item"><a href="/snippets">* All snippets</a></li>
        <% } %>

        <% if (active === "tags") { %>
            <li class="nav-item active"><a>~ All tags</a></li>
        <% } else { %>
            <li class="nav-item"><a href="/tags">~ All tags</a></li>
        <% } %>
    </ul>
    <ul class="nav">
        <% tags.forEach((tag) => { %>
            <% if (active && typeof active === "object" && active._id.equals(tag._id)) { %>
                <li class="nav-item active"><a>&gt; <%= tag.name %></a></li>
            <% } else { %>
                <li class="nav-item"><a href="/snippets?filter=<%= tag.id %>">&gt; <%= tag.name %></a></li>
            <% } %>
        <% }); %>
    </ul>
</nav>