<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SnippR</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/element.css">
    <link rel="stylesheet" href="/css/masonry.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="navbar-toggler-wrapper"><button class="navbar-toggler"><i class="fas fa-bars fa-1x"></i></button>
        </div>
        <a class="navbar-brand" href="#"><span class="blinking">&gt;</span> <span id="current-tag">SnippR</span></a>
        <ul class="nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item" id="profile-picture">D</li>
            </div>
    </nav>

    <nav class="sidenav">
        <ul class="nav">
            <li class="nav-item"><a href="/snippets/add" id="add-snippet-button" role="button">+ Add snippet</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item active"><a>* All snippets</a></li>
            <li class="nav-item"><a href="/tags">~ All tags</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="/snippets?filter=c">&gt; C</a></li>
            <li class="nav-item"><a href="/snippets?filter=cpp">&gt; C++</a></li>
            <li class="nav-item"><a href="/snippets?filter=cs">&gt; C#</a></li>
            <li class="nav-item"><a href="/snippets?filter=js">&gt; JS</a></li>
        </ul>
    </nav>

    <main class="container-fluid content masonry">
        <% snippets.forEach((snippet) => { %>
            <div class="masonry-panel">
                <div class="masonry-content">
                    <div class="element snippet" onclick="window.location='/snippets/mod/<%= snippet.id %>'">
                        <div class="content"><%= snippet.content %></div>
                        <div class="tags">
                            <% snippet.tags.forEach((tag) => { %>
                                <div class="tag"><%= tag %></div>
                            <% }); %>
                        </div>
                        <div class="toolbar">
                            <a class="delete-button tool danger" href="/snippets/del/<%= snippet.id %>">Delete</a>
                        </div>
                        <div class="comment-bar">
                            <div class="comment"> // Click into to edit</div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </main>

    <script src="/js/Masonry.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>