@import "node_modules/bootstrap/scss/bootstrap";
@import "colors";

*
{
    margin: 0;
    padding: 0;
    color: $main-foreground;
    font-family: "Lucida Console", Monaco, monospace;
}

*:focus
{
    outline-color: $brand-color;
}

html, body
{
    height: 100%;
}

body
{
    background: $main-background;
    display: flex;
}

#topnav
{
    background: $main-background;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    border-bottom: 1px solid $brand-color;
    display: flex;
    flex-direction: row;
    align-items: center;

    #blinking-cursor
    {
        font-size: 30px;
        margin: 0 10px 0 20px;
        color: $brand-color;
        animation: blink-animation 1.06s steps(2, start) infinite;
    }

    @keyframes blink-animation
    {
        to {
          visibility: hidden;
        }
    }

    #current-tag
    {
        font-size: 26px;
        color: $brand-color;
        width: 240px;
    }

    #search-bar
    {
        visibility: hidden;
        font-size: 18px;
        border: none;
        outline: none;
        background: $searchbar-color;
        padding: 20px;
        flex-grow: 1;
        margin: 0 60px 0px 0px;
    }

    span#logout-link
    {
        color: #557758;
        cursor: pointer;
    }

    span#logout-link:hover
    {
        color: $main-foreground;
    }

    #profile-picture
    {
        position: relative;
        $size: 50px;
        font-size: 24px;
        width: $size;
        height: $size;
        border-radius: $size / 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(6, 172, 33);
        margin: 0 20px;
        cursor: pointer;
    }
}

#sidenav
{
    background: $main-background;
    z-index: 1;
    position: fixed;
    top: 80px;
    left: 0;
    width: 240px;
    font-size: 20px;

    ul
    {
        border-bottom: 1px solid $brand-color;
        list-style: none;

        li.selected
        {
            font-weight: bold;
            color: $main-foreground;
            background: $tag-background;
        }

        li
        {
            color: $main-unfocused;
            padding: 10px 20px;
            cursor: pointer;
        }

        li:hover
        {
            background: $hover-item-background;
            color: $main-foreground;
        }
    }
}

#main
{
    margin-left: 240px;
    margin-top: 80px;
    padding: 20px 40px;
    flex: 1 0 auto;

    .snippet
    {
        max-width: 600px;
    }
}

.snippet.pseudo
{
    background: transparent;
    display: block;
    padding: 30px;
    font-size: 18px;

    span
    {
        color: $brand-color;
        cursor: pointer;
    }

    span:hover
    {
        color: $main-foreground;
    }
}

.snippet.pseudo:hover
{
    box-shadow: none;
}

.snippet
{
    background: $snippet-color;
    display: flex;
    flex-direction: column;
    padding: 6px;
    transition: box-shadow 0.15s ease-in;

    .content
    {
        padding: 14px;
        font-size: 16px;
        line-height: 1.5;
        max-height: 600px;
        overflow: auto;
    }

    .content:read-write:focus
    {
        outline: none;
    }

    .tags
    {
        padding: 14px;
        display: flex;
        flex-direction: row;

        .tag
        {
            padding: 10px;
            min-width: 16px;
            margin-right: 8px;
            background: $tag-background;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: box-shadow 0.15s ease-in;
        }

        .tag.new
        {
            background: $newtag-background;
        }

        .tag:not(.new):hover
        {
            background: $danger-color;
            box-shadow: 0 2px 6px 2px rgba(17, 19, 17, 0.7);
            cursor: pointer;
        }
    }

    .toolbar
    {
        padding: 14px;
        opacity: 0;
        transition: opacity 0.2s ease-in;
        display: flex;
        flex-direction: row;

        .tool
        {
            color: $brand-color;
            font-size: 14px;
            margin-right: 12px;
            cursor: pointer;
        }

        .tool:hover
        {
            color: $main-foreground;

        }

        .tool.danger:hover
        {
            display: flex;
            flex-direction: row;
            color: $danger-color;
        }
    }

    .comment-bar
    {
        padding: 0 14px;
        opacity: 0;
        transition: opacity 0.2s ease-in;
        display: flex;
        flex-direction: column;

        .comment
        {
            font-size: 12px;
            padding: 4px 0;
            color: #475046;
        }
    }
}

.snippet:hover
{
    box-shadow: 0 2px 6px 2px rgba(17, 19, 17, 0.7);
}

.snippet:hover
{
    .toolbar
    {
        opacity: 1;
    }

    .comment-bar
    {
        opacity: 1;
    }
}

#popup-background
{
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    visibility: collapse;
    background: rgba(0, 0, 0, 0.7);
}

#popup-background.visible
{
    visibility: visible;
}

.snippet.popup
{
    visibility: collapse;
    z-index: 4;
    position: fixed;
    top: 10%;
    left: 30%;
    width: 800px;

    .toolbar
    {
        opacity: 1;
    }
    .comment-bar
    {
        opacity: 1;
    }
}

.snippet.popup.visible
{
    visibility: visible;
}

body.login
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

#main-login
{
    display: flex;
    flex-direction: column;
    align-items: center;

    #brand-line
    {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        align-items: center;
        font-size: 52px;
        color: $brand-color;

        #blinking-cursor
        {
            color: $brand-color;
            font-size: 60px;
            margin: 0 10px 0 20px;
            animation: blink-animation 1.06s steps(2, start) infinite;
        }

        margin-bottom: 30px;
    }

    input
    {
        margin: 10px;
        font-size: 24px;
        border: none;
        background: $searchbar-color;
        padding: 20px;
        flex-grow: 1;
        width: 280px;
    }

    button
    {
        margin: 10px;
        font-size: 24px;
        padding: 20px;
        background: $snippet-color;
        border: none;
        color: $main-unfocused;
        width: 200px;
        cursor: pointer;
        width: 320px;
    }

    button:hover
    {
        background: $selected-item-background;
        color: $main-foreground;
    }

    button:active 
    {
        background: $brand-color;
    }
}