// Main colors
$main-background: #242724;
$main-foreground: #e4e4e4;
$main-unfocused: #557758;
$brand-color: #4fbe49;
$danger-color: #be4949;

// Topbar colors
$searchbar-color: #454946;

// Sidebar colors

$selected-item-background: #426d42;
$hover-item-background: #546454;

// Snippet colors
$snippet-color: #1b1b1b;
$tag-background: #2e5237;